<%= form_for(@meet_me) do |f| %>
  <% if @meet_me.errors.any? %>
    <div id= "error_explanation" >
      <% meet_me.errors.messages.values.each do |message| %>
        <br><%= message.join %></br>
      <% end %>
      </ul>
    </div>
  <% end %>
<p><p>
<div class="mdl-textfield">
  <%= f.label :"enter #{@meet_me.addresses.size.humanize} addresses" %>
    <%= f.fields_for :addresses do |f| %>
      <br>
      <br>
      <%= f.text_field :name, :class => "mdl-textfield__input", :required => true%>
    <% end %>
  </div>
<br>
  <div class="mdl-textfield mdl-js-textfield">
    <%= f.label :"Category" %>
    <%= f.text_field :term, :class => "mdl-textfield__input"%>
  </div>
<p>
  <div class="mdl-textfield mdl-js-textfield">
    <%= f.label :"Number of Places" %>
    <%= f.number_field :results, :class => "mdl-textfield__input", :value => "1", :max => "10", :required => true %>
  </div>
<p>
  <div class="actions"><p>
    <%= f.submit 'Find Places' %>
  </div>
<% end %>
