<%= form_for(meet_me) do |f| %>
  <% if meet_me.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meet_me.errors.count, "error") %> prohibited this meet_me from being saved:</h2>
      <ul>
      <% meet_me.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<p><p><h6>
  <%= "enter #{@meet_me.addresses.size.humanize} addresses:" %><br>
    <%= f.fields_for :addresses do |addresses_form| %>
      <br>
        <%= addresses_form.text_field :name %>
      </br>
    <% end %>
<p>
  <div class="field">
    <%= "category" %>
    <%= f.text_field :term, :required => true %>
  </div>
<p>
  <div class="field">
    <%= "number of results" %>
    <%= f.number_field :results, :value => 1, :min => 1, :required => true %>
  </div>
<p>
  <div class="actions"><p>
    <%= f.submit 'Find Places' %>
  </div></h6>
<% end %>
