<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-yellow.min.css">
  <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    <style>
      body {
        font-family: 'Inconsolata', monospace;
        font-size: 15px;
      }
    </style>
  </head>

<%= form_for(meet_me) do |f| %>
  <% if meet_me.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meet_me.errors.count, "error") %> prohibited this meet_me from being saved:</h2>
      <ul>
      <% meet_me.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<p><p>

<h6>
  <div class="mdl-textfield mdl-js-textfield">
    <%= f.label :"YOUR ADDRESS", :class=>"mdl-textfield__label"%>
    <%= f.text_field :address_1, :class=>"mdl-textfield__input", :required => true%>
  </div>
<p>
  <div class="mdl-textfield mdl-js-textfield">
    <%= f.label :"Your friend's address", :class=>"mdl-textfield__label" %>
    <%= f.text_field :address_2, :class=>"mdl-textfield__input", :required => true %>
  </div>
<p>
  <div class="mdl-textfield mdl-js-textfield">
    <%= f.label :"Category", :class=>"mdl-textfield__label" %>
    <%= f.text_field :term, :class=>"mdl-textfield__input", :required => true %>
  </div>
<p>
  <div class="mdl-textfield mdl-js-textfield">
    <%= f.label "Number of Places", :class=>"mdl-textfield__label" %>
    <%= f.number_field :results, :class=>"mdl-textfield__input", :required => true %>
  </div>
  </h6>
<p>
<p>
<!--  -->




  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"><input type="submit" name="submit" value=" Find Places " id="submit" />
  </button>
  
    

 
<% end %>
