<h1><%= "#{@yelp.count.humanize.capitalize} #{@places} for #{@term.capitalize}" %></h1>
<p>between
  <% @meet_me.addresses.each do |address| %>
  <br><%= address.name %>
  <% end %>
</p>
<% @yelp.each do |business|%>
<h2><%= link_to business.name, business.url%></h2>
<p><%= business.location.display_address.join(" ") %>
<p><%= business.display_phone%>
<p><%= "#{business.rating} stars with #{business.review_count} reviews" %>
<p><%= "\"#{business.snippet_text}\"" %>
<% end %>

<p><%= link_to 'back', meetmehalfway_path %></p>
<center><img src = <%=@img_url%> ></center>
