
<h1><%= "#{@yelp.count.humanize.capitalize} Places for #{@term.capitalize}" %></h1>
<h4><%="Between #{@meet_me.address_1} and #{@meet_me.address_2}" %></h4>
<% @yelp.each do |business|%>
<h2><%= link_to business.name, business.url%></h2>
<p><%= business.location.display_address.join(" ") %>
<p><%= business.display_phone.slice(1..14)%>
<p><%= "#{business.rating} stars with #{business.review_count} reviews" %>
<p><%= "\"#{business.snippet_text}\"" %>
<!-- <p><img src= <%=business.image_url%>><p> -->

<% end %>
<!-- - name
- address
- rating
- number of reviews
- text snippet
- link to homepage
- picture
- phone
- image url -->
