<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-yellow.min.css">
<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>

<center>
<font size="6"><%= "#{@yelp.count.humanize.capitalize} #{@places} for #{@meet_me.term.capitalize}" %></font><p>
<p>between
  <% @meet_me.addresses.each do |address| %>
  <p><%= address.name %>
  <% end %>
</p>
<p>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</p>
<p><img src = <%=@img_url%>></p>
<p>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</p>

<div style="width:50%; word-wrap:break-word;center" >
<% @yelp.each do |business|%><p>
<font size="5"><%= link_to business.name, business.url%></font>
<p><%= business.location.display_address.join(" ") %>
<p><%= business.display_phone%>
<p><%= "#{business.rating} stars with #{business.review_count} reviews" %>
<p><%= "\"#{business.snippet_text}\"" %>
<br>
<% end %>
</div>
<p>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</p>

<p><%= link_to 'back', meetmehalfway_path %></p>
</center>
